@import '../../../styles/vars';

.formpopper {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;

  &__form {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__label {
    position: absolute;
    top: 6px;
    left: 0;
    z-index: 2;
    margin-top: -6px;

    font-size: 8px;
    line-height: 14px;

    animation-name: appear;
    animation-duration: 0.3s;
  }

  @keyframes appear {
    from {
      opacity: 0;
      left: 10px;
      top: 16px;
      font-size: 12px;
      color: grey;
    }
    to {
      opacity: 1;
      top: 6px;
      left: 0;
      font-size: 8px;
      color: rgb(64, 64, 201);
    }
  }

  &__textarea-wrapper {
    position: relative;
  }

  &__textarea {
    width: 300px;
    border: none;
    border-bottom: 1px solid grey;
    padding: 0;
    border-radius: none;
    box-shadow: none;
    font-family: 'Unbounded', cursive;
    font-size: 12px !important;
    transition: box-shadow 0.6s ease-in-out;

    &::placeholder {
      font-size: 10px;
    }

    &:focus {
      box-shadow: 0px 1px 1px $mainDark;
    }

    &--mt-14 {
      margin-top: 20px;
    }
  }

  &__datepick {
    display: flex;
  }

  &__updated-at {
    font-size: 12px;
    margin-bottom: 8px;
  }

  &__submit {
    display: flex;
    justify-content: flex-end;
    gap: 8px;

    border-top: 1px solid $neutral;
    padding: 12px 0;
  }
}

.datepick {
  font-size: 12px;

  &__time {
    display: flex;
    flex-direction: column;
  }
}

.textarea:focus ~ .formpopper__label {
  color: $mainDark;
}
