@import '../../../styles/vars';

.day {
  padding: 8px;
  border: 1px solid $neutral;
  overflow: hidden;

  &--status-passive {
    opacity: 0.5;
  }

  &--status-active {
    background-color: $mainLight;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    color: $neutral;

    &--status-active {
      color: #fff;
    }
  }

  &__events {
    height: calc(100% - 24px);
    overflow-y: auto;
  }
}